@import './../css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-image: url("./../images/site-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1238px;
    margin: 0 auto;
    padding: 0 15px;
}

.visibility-hidden {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

/* ============= Header ============== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__wrap {
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

.header__logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    transition: color 0.3s;
}

.header__logo:hover {
    color: #3CB878;
    transition: color 0.3s;
}

.header__tools {
    display: flex;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header__login {
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.header__login::before {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header-icon path {
    transition: 0.3s;
}

.header-icon:hover path {
    fill: #3CB878;
    transition: 0.3s;
}

.header__login-item {
    transition: color 0.3s;
}

.header__login-item:hover {
    color: #3CB878;
}
/* ============= /Header ============== */

/* ============= Registration ============== */

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
    padding-top: 58px;
}

.registration__wrapper {
    width: 444px;
    min-height: 584px;
    padding: 35px 60px;
    background-color: #fff;
    
}

.registration__social-login {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 34px;
}

.registration__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration__title {
    position: relative;
    font-size: 20px;
    line-height: 100%;
    color: #434343;
}

.registration__title::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    background-color: #3CB878;
}

.registration__link-item {
    display: inline-block;
    font-size: 14px;
    line-height: 100%;
    color: #3CB878;
}

.registration__link-item:hover {
    text-decoration: underline;
}

.registration__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}

.button-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
}

.button-social-facebook {
    padding: 0 22px 0 18px;
    background-color: #305DB8;
    transition: background-color 0.3s;
}

.button-social-facebook:hover {
    background-color: #022263;
    transition: background-color 0.3s;
}

.button-social-google {
    padding: 0 27px 0 12px;
    background-color: #DF4A32;
    transition: background-color 0.3s;
}

.button-social-google:hover {
    background-color: #AB1F09;
    transition: background-color 0.3s;
}

.button-social__text {
    position: relative;
    
}

.button-social__text::before {
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.button-social__text-facebook {
    padding-left: 18px;
}

.button-social__text-google {
    padding-left: 30px;
}

.button-social__text-facebook::before {
    opacity: 0.1;
    background-color: #0A162F;
}

.button-social__text-google::before {
    opacity: 0.1;
    background-color: #2B0D09;
}


.registration__or {
    position: relative;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #848484;
}

.registration__or::before {
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #F2F2F2;
}

.registration__or::after {
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #F2F2F2;
}

/* ============ Form ============== */

.form__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.form__input {
    padding: 15px 19px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 100%;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form__input::placeholder {
    color: #BEBEBE;
    opacity: 1;
}

.form__input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.custom-checkbox span {
    display: inline-block;
    position: relative;
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.checkbox__agree-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 100%;
    color: #434343;
    cursor: pointer;
}

.checkbox__agree-link {
    font-size: 14px;
    line-height: 100%;
    color: #3CB878;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.checkbox__agree-link:hover {
    border-bottom: 1px solid #01813F;
    color: #01813F;
    transition: 0.3s;
}

.custom-checkbox span::after {
    content: url("./../images/custom-checkbox.svg");
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.custom-checkbox input:checked + span::after {
    display: block;
}

.form__button {
    display: inline-block;
    padding: 16px 99px;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    transition: background-color 0.3s;
}

.form__button:hover {
    background-color: #01813F;
    transition: background-color 0.3s;
}